.container-fluid{
    margin-left: 0%;
    margin-right: 0%;
}
.content-wrapper{
    width: 100%;
}
.content-wrapper img{
    width: 100%;
}
.text-wrapper{
    background-image: url(./images/backgrounds/h_img.jpg);
    background-size: cover;
    position: center;
    text-align: center;
    color: whitesmoke;
    padding-top: 6%;
    padding-bottom: 2%;
    margin-bottom: 4%;
}
#logo{
    width: 10%;
    height: auto;
    display: block;
    margin-left: 45%;
    margin-bottom: 2%;
}
#mouse{
    width: 2%;
    height: auto;
    display: block;
    margin-left: 46%;
    margin-top: 8%;
    margin-bottom: 6%;
    animation: bounce 3s infinite;
}
.about-us{
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;

}
.service{
    background-image: url(./images/backgrounds/s_image.jpg);
    background-size: cover;
    position: center;
    color: whitesmoke;
    text-align: center;
    font: 1em sans-serif;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#what we do{
    text-align: center;
    margin-bottom: 3;
}
#dev,#design,#product{
    height: 60px;
    width: auto;
}
#portfolio_1-4{
    padding-bottom: 3%;
}
#portfolio_5-8{
    padding-bottom: 3%;
}

.form1{
    background-image: url(./images/backgrounds/c_image.jpg);
    background-size: cover;
    padding-top: 4%;
    padding-bottom: 4%;
}
.form-control{
    border-radius: 0%;
    max-height: 30px;
    border-color: white;
    background-color: transparent;
    max-width: 100%;
}
#email{
    color: white;
    max-width: 80%;
  }
  #name{
      margin-left: 12%;
      color :white;
      max-width: 80%;
  }
  
  .contact-us{
      color: whitesmoke;
  }
  #message{
      border-color: white;
  }
  #delani{
      margin-top: 5%;
      margin-bottom: -0.2%;
  }
  .footer{
      text-align: center;
  }
  